@import '../../styles/theme-vars.scss';

.search__input {
  padding: 2pt 10pt;
  border: 1.7px solid #efeded;
  border-radius: 11pt;
}

.search__input input[type="search"] {
  width: 300px;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  border: none;
  border-radius: inherit;
  @include themify($themes) {
    color: themed('colorText');
  }
}

.actions {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__input input[type="search"]::placeholder {
  color: #bbb;
}

.search__input input[type="search"]:focus {
  outline: none;
}

.search__input svg {
  font-weight: bold;
  @include themify($themes) {
    fill: themed('colorText');
  }
}

.icon__container {
  width: 20%;
  .icon {
    width: 32px;
    height: 32px;
    margin-left: 10pt;
  }
}

.search__result {
  z-index: 10;
  background-color: white;
  border-bottom-left-radius: 10pt;
  border-bottom-right-radius: 10pt;
  color: #000000;
  position: absolute;
  width: 350px;
}
