@import '../styles/theme-vars.scss';

.header {
  padding-top: 5pt;
  padding-bottom: 3pt;
  width: 100%;
  box-shadow: 8px 0 25px rgba(0, 0, 0, 0.05);
  @include themify($themes) {
    background: themed('colorHeaderFooter');
    border-bottom: 1px solid themed('colorText');
  }
  @include themify($themes) {
    color: themed('colorText');
  }
  .header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.layout__main {
  @include themify($themes) {
    background: themed('colorHeaderFooter');
  }
  @include themify($themes) {
    color: themed('colorText');
  }
}

.table__container {
  @include themify($themes) {
    background: themed('colorHeaderFooter');
  }
  tr,
  th,
  td {
    @include themify($themes) {
      color: themed('colorText');
    }
  }
}
.MuiDataGrid-root,
.MuiTablePagination-root,
.MuiButtonBase-root,
.MuiInputBase-root,
.MuiButtonBase-root,
.MuiPaper-root {
  @include themify($themes) {
    background: themed('colorHeaderFooter');
  }
  @include themify($themes) {
    color: themed('colorText');
  }
}

#mui-rte-root {
  margin-top: 10pt;
}

#mui-rte-toolbar {
  border: 1px solid gray;
  border-radius: 7pt;
}

#mui-rte-toolbar + div {
  position: relative !important;
}
